@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** Primary Colors */
  --clr--brandGrey: "#FAFAFA";
  --clr--brandPurple: "#633CFF";
  --clr--brandLightPurple: "#EFEBFF";
  --clr--brandSoftGrey: "#737373";
  --clr--brandDarkGrey: "#333";
  --clr--brandDark: "#1A1A1A";
  --clr--brandRed: "#EE3939";
  --clr--brandBlue: "#2D68FF";
  --clr--brandSoftRed: "#FF3939";
  --clr--brandBorder: "#D9D9D9";

  /** Box Shadow */
  --bs--brandShadowDark: "0px 0px 32px 0px rgba(99, 60, 255, 0.25)";
  --bs--optionShadow: "0px 0px 32px 0px rgba(0, 0, 0, 0.10)";
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", sans-serif !important;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: var(0.1rem);
  text-transform: capitalize;
  line-height: 1.25;
}

main,
section {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  main,
  section {
    background-color: var(--clr--brandGrey);
  }
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: start;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.card {
  background-color: white;
  padding: 40px;
  width: 100%;
  max-width: 30rem;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .card {
    margin-bottom: 1.5rem;
  }
}

.form {
  margin-top: 1.75rem;
}

.form-control {
  margin-top: 1rem;
}

.form-label {
  margin-bottom: 0.5rem !important;
  font-size: 12px;
  color: #333;
}

.input-control {
  position: relative;
}

.input-control .icon {
  position: absolute;
  left: 1rem;
  transform: translateY(0.843rem);
  font-size: 16px;
  color: var(--clr--brandSoftGrey);
}

.input-control input {
  padding: 12px 0;
  padding-left: 40px;
  padding-right: 16px;
  width: 100% !important;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  appearance: none;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.input-control input:focus-within {
  border-color: rgb(99 60 255); /*when focused within*/
  box-shadow: var(--bs--brandShadowDark);
}

.input-control input:active {
  transition-timing-function: linear;
  caret-color: var(--clr--brandPurple);
}

.input-control input::placeholder {
  font-size: 1rem;
}

.btn,
.button {
  display: inline-block;
  background-color: #633cff;
  color: white;
  padding: 11px 16px;
  width: 100%;
  border-radius: 8px;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;

  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  padding: 11px 16px;
  font-size: 1rem;
  background-color: var(--clr--brandPurple);
  color: white !important;
  border-radius: 8px;
  cursor: pointer;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms; */
}

/* .button:active {
  transform: translate(0.95, 0.95);
  background-color: #beadff;
}

.button:hover {
  box-shadow: var(--bs--brandShadowDark);
}

@media (min-width: 768px) {
  .button {
    padding-left: 27px;
    padding-right: 27px;
  }
} */

.button-google {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 11px 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: var(--clr--brandSoftGrey);
}

p span {
  color: var(--clr--brandPurple);
}

p span:hover {
  text-decoration-line: underline;
}

p br {
  display: block;
}

@media (min-width: 1024px) {
  p br {
    display: none;
  }
}
